
header {
  background: no-repeat url('/red-stripe.jpg');
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  min-height: 250px;
}
main {
  flex-grow: 1;
}
footer {
  background: repeat-x url('/footer-bg.svg');
  color: var(--color-light);
  background-position: top center;
  background-size: 500px;
}

.content-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2.5rem;
}
.logo {
  min-width: 200px;
  max-width: 450px;
  margin: auto;
  padding: 1rem .5rem .5rem;
}
.site-info {
  float: right;
}

.staggered-elems {
  direction: rtl;
  text-align: left;
  min-width: 300px;
}
.staggered-elems > * {
  display: inline-block;
  transform: rotateZ(-5deg) rotateX(10deg);
  box-shadow: .3rem 1rem 1rem #33333388;
  border: 3px solid #33333388;
  border-radius: 10px;
  width: 30%;
  aspect-ratio: 1;
}
.staggered-elems > *:hover {
  border-color: var(--color-alternative);
}
.staggered-elems > *:not(:last-child) {
  margin-left: -10%;
}

ul.tech-list {
  margin: 0;
  padding: 0;
  width: fit-content;
  text-align: right;
}
.tech-list li {
  list-style: none;
  margin: .2rem 0;
  white-space: nowrap;
  font-size: .8rem;
}
.tech-list li:after {
  --width: .8rem;
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: .4rem;
  width: var(--width);
  height: var(--width);
  border: 1px solid #ffffff40;
  border-radius: 50%;
}
.tech-list li[data-tech="Python"]:after     { background-color: #3572A5; }
.tech-list li[data-tech="HTML"]:after       { background-color: #e34c26; }
.tech-list li[data-tech="C"]:after          { background-color: #555555; }
.tech-list li[data-tech="JavaScript"]:after { background-color: #f1e05a; }
.tech-list li[data-tech="CSS"]:after        { background-color: #563d7c; }

@media screen and (max-width: 800px) {
  header {
    min-height: 220px;
  }
}

@media screen and (max-width: 480px) {
  header {
    min-height: 180px;
  }
  .logo {
    max-width: 300px;
  }
  .content-wrapper {
    padding: 0 .5rem;
  }
}