
.content-col {
  margin: 0 auto;
  padding: 0 4rem;
  min-width: 320px;
  max-width: 800px;
}

.logo {
  max-width: 300px;
  background-color: #151515;
  margin: 2.5rem 0 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.ingress {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 .3rem 1.5rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid #ffffff40;
  display: flex;
  justify-content: space-between;
  a {
    display: block;
    margin: .5rem 0;
  }
}

header {
  background: #151515;
  background: linear-gradient(180deg, #151515 0%, #151515 75%, #15151500 100%);
}

main {
  margin-bottom: 8rem;
}

h2,
h3 {
  margin: .5rem 0 0;
  padding: 0;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

  h2 {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0;
  }

  .title {
    padding: 0 .5rem;
    width: fit-content;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    img {
      height: 100%;
      margin-right: .5rem;
    }
  }
}

section {
  --unit: .5rem;
  border: 1px solid #ffffff40;
  border-radius: var(--unit);
  background: #ffffff10;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  gap: 1rem;
  overflow: hidden;
  min-height: 7rem;

  .container {
    width: 100%;
    padding-right: .7rem;
  }

  .content {
    padding-bottom: .7rem;
    max-width: 36rem;
  }

  .top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  p {
    margin: .7rem 0;
  }

  ul {
    margin: 0;
    padding: 0;
    width: fit-content;
    text-align: right;
  }
  li {
    list-style: none;
    margin: .2rem 0;
    white-space: nowrap;
  }
  li:after {
    --width: .8rem;
    content: '';
    display: inline-block;
    vertical-align: bottom;
    margin-left: .4rem;
    width: var(--width);
    height: var(--width);
    border: 1px solid #ffffff40;
    border-radius: 50%;
  }
  li[data-tech="Python"]:after     { background-color: #3572A5; }
  li[data-tech="HTML"]:after       { background-color: #e34c26; }
  li[data-tech="C"]:after          { background-color: #555555; }
  li[data-tech="JavaScript"]:after { background-color: #f1e05a; }
  li[data-tech="CSS"]:after        { background-color: #563d7c; }
}

@media (max-width: 640px) {
  .content-col {
    padding: 0;
  }
  header {
    text-align: center;
  }
  section {
    border-radius: 0;
    border-width: 1px 0;
  }
}
