@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light: #ddd7d5;
  --color-action: #0b2aa6;
  --color-alternative: #f48b4c;
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: only light;
  background-color: var(--color-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-weight: 300;
}

a {
  color: var(--color-action);
  font-weight: 600;
  text-shadow: 0 1px 1px #8a8a8a88;
  transition: color .2s linear;
}
a:hover {
  color: var(--color-action-hi);
  text-decoration: underline;
}
footer a {
  color: var(--color-alternative);
}
footer a:hover {
  color: var(--color-light);
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
}
h3 {
  font-size: 1.4rem;
  font-weight: 500;
}
h4 {
  font-size: 1.15rem;
  font-weight: 500;
}
